{% extends "base.html" %}
{% block content %}

    <div class="row center-align">
        <h3>About Us</h3>
    </div>

    <div class="card-panel custCardPanel">
        <div class="row aboutBlurb padOutHeight">
            <div class="col s12">
                <p>Do you find yourself going over and over troublesome or worrying thoughts 
                    as if played on a loop?</p>
            </div>
        </div>
        <div class="row aboutBlurb padOutHeight">
            <div class="col s12">
                <p>Would it help if you could record the triggers that cause negative emotions 
                    so that you recognise it in the future and can deal with it better?
                </p>
            </div>
        </div>
        <div class="row aboutBlurb center-align padOutHeight">
            <div class="col s12">
                <p>Here at (in)Scribe, whatever your reason, we offer you the option to securely 
                    record your thoughts, their triggers and outcomes.</p>
                <p>We can help you to track your emotions accurately, allowing you to personally 
                    understand why you think the way that you do.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col s12">
                <p class="center">
                    No Account Yet?
                    <a href="{{ url_for('registration') }}" class="light-blue-text text-darken-4">Create an Account Now</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}